<!DOCTYPE html>
<html lang="en">

<head>
   <!-- meta datas -->
   <meta charset="UTF-8">
   <meta name="description" content="Desafio Tecnico para Linx Impulse">
   <meta name="keywords" content="HTML, CSS, JavaScript">
   <meta name="author" content="Tayanne Silva Novais">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <!-- import css -->
   <link rel="stylesheet" href="../styles/global.css">
   <link rel="stylesheet" href="../styles/email.css">

   <!-- title and favicon -->
   <link rel="shortcut icon" href="/images/ecommerce.png" type="image/x-icon">
   <title>Desafio | Frontend Developer </title>
</head>

<body>
   <header>
      <div class="headline">
         <h2>Uma seleção de produtos</h2>
         <h1>especial para você</h1>
         <p>Todos os produtos desta lista foram selecionados a partir da sua navegação. Aproveite!</p>
      </div>

      <span class="cut"></span>
   </header>

   <main>
      <div class="content">
         <h1>Olá, Fulano</h1>
         <p>Fizemos uma lista especial de produtos apenas para você. Isso mesmo: nesta lista temos só produtos que você pode gostar. Seu amigo Ciclano lhe recomendou essa lista especial. Olha só:</p>
      </div>

      <div id="email-products">
         <!-- CARD PUT HERE BY EMAIL.JS -->
      </div>

      <button id="email-more-products">Tem muito mais aqui. Vem ver!</button>

   </main>

   <footer>
      <p>
         <a href="https://www.linkedin.com/in/tayannesilvanovais/">Tayanne Silva Novais</a>
      </p>
      <p>Linx Impulse</p>
      <p>2021</p>
   </footer>

   <!-- import js -->
   <script type="module" src="../scripts/email.js"></script>
</body>

</html>