<!DOCTYPE html>
<html lang="en">

<head>
   <!-- meta datas -->
   <meta charset="UTF-8">
   <meta name="description" content="Desafio Tecnico para Linx Impulse">
   <meta name="keywords" content="HTML, CSS, JavaScript">
   <meta name="author" content="Tayanne Silva Novais">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <!-- import google fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

   <!-- import css -->
   <link rel="stylesheet" href="../styles/global.css">
   <link rel="stylesheet" href="../styles/index.css">

   <!-- title and favicon -->
   <link rel="shortcut icon" href="/images/ecommerce.png" type="image/x-icon">
   <title>Desafio | Frontend Developer </title>
</head>

<body>
   <header>
      <div class="headline">
         <h2>Uma seleção de produtos</h2>
         <h1>especial para você.</h1>
         <p>Todos os produtos desta lista foram selecionados a partir da sua navegação. Aproveite!</p>
      </div>

      <div class="buttons">
         <a href="https://www.linx.com.br/transformacao-digital/linx-impulse/" target="_blank" title="link externo para o site da Linx" class="button"
         >Conheça a Linx</a>
         <a href="#forms" title="link interno para o formulário" class="button"
         >Ajude o algoritmo</a>
         <a href="#products" title="link interno para a seleção de produtos" class="button"
         >Seus produtos</a>
         <a href="#share" title="link interno para sessão compartilhe" class="button"
         >Compartilhe</a>
      </div>
   </header>
   
   <section>
      <div class="content">
         <h1>Ajude o algoritmo a ser mais certeiro.</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec arcu ipsum, tincidunt viverra iaculis ut, sagittis nec quam. Aliquam tristique auctor risus id facilisis. Aliquam et tempor diam. Etiam aliquet ex quis lectus sollicitudin aliquam. Phasellus accumsan lacinia ligula, eu suscipit enim suscipit id. Proin venenatis justo eu turpis vulputate, et porttitor lacus interdum. Nullam maximus diam non vestibulum pharetra. Phasellus tortor lectus, ultricies nec mi eu, maximus auctor urna.
            
         Quisque hendrerit facilisis eros, nec lacinia eros gravida eleifend. Aenean a molestie leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam et lacus vitae urna ullamcorper viverra in sit amet nulla. Proin vitae sodales libero. Sed ullamcorper felis mauris, semper molestie nisl pellentesque in. Vestibulum vulputate ornare dolor et imperdiet. Ut venenatis gravida sem id vestibulum. Morbi mollis feugiat elit, non suscipit sapien interdum a. Proin vitae nibh scelerisque, rhoncus tellus id, posuere nibh.</p>
      </div>

      <form action="/scripts/script.js" method="POST" id="forms">
         <div>
            <label for="name">
               <span>Seu nome:</span>
            </label>
            <input type="text" id="name" name="name" placeholder="Tayanne Silva Novais" required>
         </div>
         
         <div>
            <label for="email">
               <span>E-mail</span>
            </label>
            <input type="email" id="email" name="email" placeholder="email@email.com" required>
         </div>
         
         <div>
            <label for="cpf">
               <span>CPF:</span>
            </label>
            <input type="text" id="cpf" name="cpf" maxlength="14" onkeyup="maskCpf()" placeholder="Apenas números" required/>
         </div>
         <div>
            <span>
               <input type="radio" id="rd-masc" name="radio">
               <label for="rd-masc">Masculino</label>
            </span>

            <span>
               <input type="radio" id="rd-fem" name="radio">
               <label for="rd-fem">Feminino</label>
            </span>
         </div>
         <button>Enviar</button>
      </form>
   </section>
      
   <main id="products">
      <div class="separator">
         <div></div>
         <div>Sua seleção especial</div>
         <div></div>
      </div>

      <div class="product">
         <div class="image">
            <img src="" alt="Foto do produto">
         </div>
         <div class="info">
            <h2>Nome do produto</h2>
            <p>Descrição do produto</p>
            <h3>De:</h3>
            <h1>Por:</h1>
            <h3>ou 2x de</h3>
            <button>Comprar</button>
         </div>
      </div>

      <div>
         <button>Ainda mais produtos aqui!</button>
      </div>
   </main>

   <section id="share">
      <div class="separator">
         <div></div>
         <div>Compartilhe a novidade</div>
         <div></div>
      </div>

      <span>Quer que seus amigos também ganhem a lista personalizada deles? Preencha agora!</span>

      <form action="/scripts/script.js" method="POST">
         <div>
            <label for="name">
               <span>Nome do seu amigo:</span>
            </label>
            <input type="text" id="name" name="name" placeholder="Hanna da Luz" required>
         </div>
         
         <div>
            <label for="email">
               <span>E-mail:</span>
            </label>
            <input type="email" id="email" name="email" placeholder="email@email.com" required>
         </div>

         <button>Enviar agora</button>
      </form>
   </section>
   
   <footer>
      <p>
         Desenvolvido por <a href="https://www.linkedin.com/in/tayannesilvanovais/">Tayanne Silva Novais</a>
      </p>
      <p>Linx Impulse</p>
      <p>2021</p>
   </footer>
   
   <!-- import js -->
   <script src="../scripts/script.js"></script>
</body>
</html>
