html {
   --grey-dark: #707070;
   --grey-medium: #888888;
   --grey-ligth: #00000029;
   --white: #FFFFFF;

   font-size: 62.5%;
   font-family: Helvetica, sans-serif;
}

/* BUTTONS */
button, .button {
   color: var(--grey-medium);
	background: var(--white);
	border: 1px solid var(--grey-dark);
	border-radius: 4px;
	cursor: pointer; 
}

/* ERROR CLASS / INPUT */
.error {
   border: 1px solid red;
}